input[type="text"] {
    background-color: white;
    /* flex-grow: 2;
    background-color: white;
    */
    border-radius: 2rem;
    padding: 10px;
    margin: 10px;
    text-align: left;
    height: 20px;
    color: grey;
    border: black solid 1px;
    width: 400px;
}

input[type="submit"] {
    /* background-color: blue; */
    width: 75px;
    border-radius: 2rem;
    padding: 10px;
}

/* .create {
    border-radius: 15px;
    margin: 10px;
    background-color: #007a73;
    color: white;
    border: none;
} */